{% extends 'store/base.html' %}

{% block title %}
Compte
{% endblock %}

{% block content %}
<div class="col-md-8 offset-md-2 py-3">
    <h2>Mon compte</h2>
    <hr>
    <div class="pb-3">
        Prénom
        <br>
        <input class="form-control" id="disabledInput" type="text" placeholder="{{ client.first_name|title }}" disabled>
    </div>
    <div class="pb-3">
        Nom
        <br>
        <input class="form-control" id="disabledInput" type="text" placeholder="{{ client.last_name|title }}" disabled>
    </div>
    <div class="pb-3">
        Adresse mail
        <br>
        <input class="form-control" id="disabledInput" type="text" placeholder="{{ client.email }}" disabled>
    </div>

    <div class="text-center bg-danger rounded-pill my-3">
        <a class="nav-link text-light" href="{% url 'accounts:logout' %}">Me déconnecter</a>
    </div>
</div>

<div class="col-md-8 offset-md-2 py-3">
    <h2>Mes commandes</h2>
    <hr>
    {% if commande %}
    <table class="table text-center table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Numéro de commande</th>
                <th>Date & Heure </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for com in commande %}
            <tr>
                <td>{{com.id_panier.id}}</td>
                <td>{{com.date_validation}}</td>
                <td><a class="btn btn-dark" href="{% url 'store:detail_commande' com.id_panier.id %}">Consulter</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <div class="text-center py-3">
        Vous n'avez passé aucune commande pour le moment.
    </div>
    {% endif %}
</div>

{% endblock %}