{% extends 'store/base.html' %}

{% block title %}
Rayon Listing
{% endblock %}

{% block active_rayons%}
active
{% endblock %}

{% block content %}

<div class="container-fluid px-xl-7 pt-5 pb-3 pb-lg-6">
    <ul class="breadcrumb undefined">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{% url 'store:rayon' %}">Rayons</a></li>
        <li class="breadcrumb-item active">{{ produits.0.categorie.nom }}</li>
    </ul>
</div>

{% if produits %}
{% for produit in produits %}

<div class="card mx-auto my-4" style="width: 12rem;">
    <a href="{% url 'store:detail' produit.id %}">
        <div class="card-image">
            <img src="{{ produit.image }}" class="card-img-top" alt="{{ produit.nom }}">
        </div>
    </a>
    <div class="card-heading">
        <div class="card-title text-center d-flex justify-content-center">
            {{ produit.nom }}
        </div>
    </div>
    <div class="card-text text-muted">{{ produit.calcTVA }}€</div>
    <div class="card-text text-muted">
        {% with type=produit.calcPrixType %}
        {{ type.0 }}€/{{ type.1 }}
        {% endwith %}
    </div>
    <a href="{% url 'store:detail' produit.id %}" class="btn btn-dark d-flex justify-content-center my-2">Acheter</a>
</div>

{% endfor %}
{% else %}
<div class="row justify-content-md-center">
    <div class="col-md-8 col-md-offset-2 mb-5 text-center">
        <p>Il semblerait que ce rayon soit victime de son succès ! Aucun article n’est disponible ici...</p>
        <img src="https://c.tenor.com/tlYo239ITUMAAAAM/sad-tears.gif" alt="GIF Triste">
    </div>
</div>
{% endif %}
{% endblock %}