{% extends 'store/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="col-md-6 offset-3 py-5">
    <h3>Se connecter</h3>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="pb-3">
            {{ field.label_tag }}
            <br>
            {{ field }}
            {% if field.help_text %}
            <div class="alert alert-warning">
                {{ field.help_text }}
            </div>
            {% endif %}
            {% if field.errors %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}

        <input class="btn btn-primary btn-block" type="submit" value="Se connecter">
    </form>

    <div class="py-3">
        <a href="{% url 'accounts:register' %}">Je n'ai pas de compte...</a>
    </div>
</div>
{% endblock %}