{% extends 'store/base.html' %}

{% block title %}S'enregistrer{% endblock %}

{% block content %}
<div class="col-md-6 offset-3 py-5">
    <h3>S'enregistrer</h3>
    <hr>
    <form method="POST">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        {% endif %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form %}
        <div class="pb-3">
            {{ field.label_tag }}
            <br>
            {{ field }}
            {% if field.help_text %}
            <div class="alert alert-warning">
                {{ field.help_text }}
            </div>
            {% endif %}
            {% if field.errors %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}

        <input class="btn btn-primary btn-block" type="submit" value="S'enregistrer">
    </form>

    <div class="py-3">
        <a href="{% url 'accounts:login' %}">J'ai déjà un compte...</a>
    </div>
</div>
{% endblock %}