{% extends 'admin/admin_base.html' %}

{% block title %}
Modif marque
{% endblock %}

{% block active_marques %}
active
{% endblock %}

{% block content %}

<div class="col-md-8 offset-md-2 pt-5">
    <div class="py-3">
        <h3>Modifier la marque</h3>
        <hr>
        Nom
        <input class="form-control" id="name" type="text" placeholder="{{ marque.nom}}" autocomplete="off">

        <br>

        <div class="text-center">
            <button id="modif" class="btn btn-outline-warning">Modifier</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getToken('csrftoken');

    const url = "{% url 'admin:update_marques' %}";
    const url_redirection = "{% url 'admin:marques' %}";

    // VARIABLE PRODUIT
    var marque_id = "{{ marque.id }}"
    var marque_nom = "{{ marque.nom }}";

    // VARIABLES INPUT
    var input_nom = document.getElementById("name");

    // VARIABLE BOUTON MODIFICATION
    var modif = document.getElementById("modif");

    // FUNCTION ACTIVE OU NON LE BOUTON MODIFIER
    function verif_inputs(inputs) {
        var res = true;
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].value == "") {
                res = false;
                break;
            }
        }

        if (res) {
            modif.disabled = false;
        } else {
            modif.disabled = true;
        }
    }

    // VERIFICATION DES VARIABLES AVANT VALIDATION
    modif.addEventListener('click', function () {
        if (input_nom.value != "") {
            marque_nom = input_nom.value;
        }

        var changer = !(marque_nom == "{{ marque.nom }}");
        update(changer);
    });

    function update(changer) {
        fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'id': marque_id,
                    'nom': marque_nom,
                    'changer': changer
                })
            })

            .then((response) => {
                return response.json()
            })

            .then((data) => {
                location.replace(url_redirection)
            })
    }
</script>
{% endblock %}