{% extends 'admin/admin_base.html' %}

{% block title %}
Ajouter catégorie
{% endblock %}

{% block active_categories %}
active
{% endblock %}

{% block content %}

<div class="col-md-8 offset-md-2 pt-5">
    <h3>Ajouter une catégorie</h3>
    <hr>
    <div class="py-3">
        Nom
        <input class="form-control input_new_categorie" id="input_new_categorie_nom" type="text"
            placeholder="Entrer le nom de la nouvelle categorie..." autocomplete="off">

        <br>

        TVA
        <input class="form-control input_new_categorie" id="input_new_categorie_tva" type="number" step="0.01" min="0"
            placeholder="Entrer le taux tva de la nouvelle categorie..." autocomplete="off">

        <br>

        Image
        <div class="d-flex justify-content-between align-items-center">
            <div class="col-md-10">
                <input class="form-control input_new_categorie" id="input_new_categorie_image" type="text"
                    placeholder="Entrer l'URL de l'image de la nouvelle categorie..." autocomplete="off">
            </div>
            <div class="col-md-2">
                <img id="categorie-img" src="" alt="Entrer un lien pour afficher l'image" title="Pré-visualisation"
                    width="100">
            </div>
        </div>

        <br>
        <div id="message_erreur" class="py-3 alert alert-danger" style="display: none;">
            Vous devez renseigner tous les champs pour pouvoir ajouter le produit.
        </div>
        <div class="text-center">
            <button id="modif" class="btn btn-outline-success">Ajouter</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getToken('csrftoken');

    const url = "{% url 'admin:add_categories' %}";
    var url_redirection = "{% url 'admin:categories' %}"

    // VARIABLE PRODUIT
    var categorie_nom;
    var categorie_tva;
    var categorie_image;

    // VARIABLE BOUTON MODIFICATION
    var modif = document.getElementById("modif");

    // FUNCTION ACTIVE OU NON LE BOUTON MODIFIER
    function verif_inputs(inputs) {
        var res = true;
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].value == "") {
                res = false;
                break;
            }
        }

        if (res) {
            modif.disabled = false;
        } else {
            modif.disabled = true;
        }

    }


    // VARIABLES CATEGORIE
    var div_new_categorie = document.getElementById("new-categorie");
    var inputs_new_categorie = document.getElementsByClassName("input_new_categorie");
    // LISTENER VERIFIE TOUT LES CHAMPS SOSNT REMPLIS
    for (var i = 0; i < inputs_new_categorie.length; i++) {
        inputs_new_categorie[i].addEventListener('input', function () {
            verif_inputs(inputs_new_categorie);
        });
    }
    var input_new_categorie_nom = document.getElementById("input_new_categorie_nom");
    var input_new_categorie_tva = document.getElementById("input_new_categorie_tva");
    var input_new_categorie_image = document.getElementById("input_new_categorie_image");
    // LISTENER IMAGE CATEGORIE INTERACTIVE
    input_new_categorie_image.addEventListener('input', function () {
        var categorie_img = document.getElementById("categorie-img");
        categorie_img.src = this.value;
        categorie_img.alt = "Erreur de chargement de l'image."
    })

    // VERIFICATION DES VARIABLES AVANT VALIDATION
    modif.addEventListener('click', function () {
        if (input_new_categorie_nom.value != "" && input_new_categorie_tva.value != "" &&
            input_new_categorie_image.value != "") {
            categorie_nom = input_new_categorie_nom.value;
            categorie_tva = input_new_categorie_tva.value;
            categorie_image = input_new_categorie_image.value;
            add();
        } else {
            var message_erreur = document.getElementById("message_erreur");
            message_erreur.style = "display: true;"
        }
    });

    function add() {
        fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'nom': categorie_nom,
                    'tva': categorie_tva.replaceAll(',', '.'),
                    'image': categorie_image
                })
            })

            .then((response) => {
                return response.json()
            })

            .then((data) => {
                location.replace(url_redirection)
            })
    }
</script>
{% endblock %}