{% extends 'store/base.html' %}

{% block title %}
Erreur 500
{% endblock %}

{% block content %}
{% load static %}
<div class="row justify-content-md-center">
    <div class="col-md-8 col-md-offset-2 mb-5 text-center py-3">
        <h2>Erreur 505...</h2>
        <p>Cela veut dire que l'on a commis une erreur en interne !</p>
        <p>Nous travaillons dessus pour corriger le problème au plus vite.</p>
        <img src="https://tenor.com/view/working-late-working-hard-work-jim-carrey-typing-gif-10883024.gif"
            alt="GIF Travail">
    </div>
</div>


{% endblock %}