{% extends 'admin/admin_base.html' %}

{% block title %}
Supprimer catégorie
{% endblock %}

{% block active_categories %}
active
{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <div class="py-3">
        <h3>Supprimer la catégorie: {{ categorie.nom }} </h3>
        <hr>
        {% if produits|length > 0 %}
        <div id="message_erreur" class="py-3 alert alert-danger">
            Vous ne pouvez pas supprimer la catégorie car elle est déjà utilisée par des produits.
        </div>
        {% else %}
        <div id="message_erreur" class="py-3 alert alert-warning">
            Etes-vous sûr de vouloir supprimer cette catégorie ?
        </div>
        <button id="btn-suppr" class="btn btn-outline-danger">Supprimer</button>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getToken('csrftoken');

    const url = "{% url 'admin:suppr_categories' %}";

    var id = "{{ categorie.id }}";

    var url_redirection = "{% url 'admin:categories' %}"

    var btn = document.getElementById("btn-suppr");
    btn.addEventListener('click', function(){
        supprimer();
    })

    function supprimer(){
        fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'id': id
                })
            })

            .then((response) => {
                return response.json()
            })

            .then((data) => {
                location.replace(url_redirection);
            })
    }
</script>
{% endblock %}