{% extends 'admin/admin_base.html' %}

{% block title %}
Modif stock
{% endblock %}

{% block active_produits %}
active
{% endblock %}

{% load static %}

{% block content %}
<div class="col-md-8 offset-md-2 pt-5">
    <div class="py-3">
        <h3>Modifier le stock</h3>
        <hr>
        Stock actuel
        <input class="form-control" id="disabledInput" type="text" placeholder="{{ produit.qtt_stock }}" disabled>

        <br>

        Nouveau stock
        <input id="qtt_modif_qtt" class="form-control form-control-lg" type="number" value="{{produit.qtt_stock}}"
            min="0" placeholder="Entrer la nouvelle quantité ici...">

        <br>

        <button id="modif_qtt" class="btn btn-outline-primary">Modifier</button>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    url_redirection = "{% url 'admin:produits_detail' produit.id %}"
    function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getToken('csrftoken');

    const url = "{% url 'admin:updateQtt' %}";
    var modifQtt = document.getElementById("modif_qtt");
    var prod_id = "{{ produit.id }}";

    modifQtt.addEventListener('click', function () {
        var quantite = parseInt(document.getElementById("qtt_modif_qtt").value);
        updateQuantite(quantite);
    })

    function updateQuantite(quantite) {
        fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'prod_id': prod_id,
                    'quantite': quantite
                })
            })

            .then((response) => {
                return response.json()
            })

            .then((data) => {
                location.replace(url_redirection);
            })
    }
</script>
{% endblock %}